<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts List</title>
  </head>
  <body>
    <ul>
      <li>1. First Post</li>
      <li>2. Second Post</li>
    </ul>

    <ul>
      {% for post in postss %}
      <li>{{ forloop.counter }}. {{ post.title }}</li>
      <a href="{% url "postlist" slug=post.slug%}">{{post.title}}</a>
      {% empty %}
      <li>No posts available.</li>
      {% endfor %}
    </ul>
  </body>
</html>
